.sidebar-wrapper {
   @apply fixed top-0 z-[999] h-screen   ltr:left-0   rtl:right-0;
   transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
   will-change: width;
}

.nav-shadow {
   background: linear-gradient(
      rgb(255, 255, 255) 5%,
      rgba(255, 255, 255, 75%) 45%,
      rgba(255, 255, 255, 20%) 80%,
      transparent
   );
}
.dark {
   .nav-shadow {
      background: linear-gradient(
         rgba(#1e293b, 100%) 5%,
         rgba(#1e293b, 75%) 45%,
         rgba(#1e293b, 20%) 80%,
         transparent
      );
   }
}

.sidebar-wrapper.sidebar-hovered {
   width: 248px !important;
}
.logo-segment.logo-hovered {
   width: 248px !important;
}

.sidebar-menu-container {
   height: calc(100% - 4.45rem) !important;
}

// menu link css
.submenu_enter-active,
.submenu_leave-active {
   overflow: hidden;
   transition: all 0.34s linear;
}

.not-collapsed .has-icon {
   transition: all 0.34s linear;
}
.not-collapsed .has-icon {
   @apply rotate-180 transform;
}

// single sidebar menu css
.single-sidebar-menu {
   @apply relative;
   .menulabel {
      @apply mb-4 mt-4 text-xs font-semibold uppercase text-slate-800 dark:text-slate-300;
   }
   > .menu-link {
      @apply flex cursor-pointer rounded-[4px] px-[10px] py-3 text-sm font-medium capitalize text-slate-600 dark:text-slate-300;
   }
   .menu-icon {
      @apply icon-box inline-flex items-center text-lg text-slate-600 dark:text-slate-300 ltr:mr-3 rtl:ml-3;
   }
}
// menu item has chilren
.item-has-children {
   .menu-arrow {
      @apply flex h-5 w-5 items-center justify-center rounded-full bg-slate-100 text-base text-slate-300 dark:bg-[#334155] dark:text-slate-300;
   }
}

// close sidebar css
.close_sidebar .menulabel {
   @apply hidden;
}
.menu-badge {
   @apply inline-flex whitespace-nowrap rounded-[.358rem] bg-slate-900 px-2 py-1 align-baseline text-xs font-semibold capitalize text-slate-50 dark:bg-slate-700 dark:text-slate-300;
}

.close_sidebar:not(.sidebar-hovered) {
   .menu-arrow {
      @apply hidden;
   }
   .single-sidebar-menu {
      .text-box {
         @apply invisible  absolute left-full top-0 z-[999] ml-5 w-[180px] rounded-[4px] bg-white px-4 py-3 opacity-0 shadow-dropdown transition-all duration-150 dark:bg-slate-800;
      }
      &:hover {
         .text-box {
            @apply visible opacity-100;
         }
      }
   }
   .item-has-children {
      .text-box {
         @apply hidden;
      }

      ul.sub-menu {
         @apply invisible absolute left-full top-0 z-[999] ml-4 w-[230px] rounded-[4px] bg-white px-4 pt-3 opacity-0 shadow-dropdown transition-all duration-150 dark:bg-slate-800;
         display: block !important;
      }
      &:hover {
         > ul {
            @apply visible opacity-100;
         }
      }
   }
   .menu-badge {
      @apply hidden;
   }
}

// active menu
.item-has-children {
   .parent_active {
      @apply bg-secondary-500 bg-opacity-20;
      .icon-box,
      .menu-icon,
      .text-box {
         @apply text-slate-700 dark:text-slate-200;
      }
      .menu-arrow {
         @apply bg-secondary-500 bg-opacity-30 text-slate-600 text-opacity-70 dark:text-white;
      }
   }
}
.menu-item-active {
   .menu-link {
      @apply bg-slate-800 dark:bg-slate-700;
      .icon-box,
      .menu-icon,
      .text-box {
         @apply text-white dark:text-slate-300;
      }
   }
   .menu-badge {
      @apply bg-slate-100  text-slate-900;
   }
}
