.table-th {
   @apply py-5 text-center text-xs  font-semibold  uppercase text-slate-600 dark:text-slate-300;
}

.table-td {
   @apply border-slate-100 px-2 py-3 text-center text-sm font-normal capitalize text-slate-600 dark:border-slate-700 dark:text-slate-300;
}

.table-checkbox {
   @apply relative h-4 w-4 rounded before:absolute   
  before:inset-0 before:m-[-0.7px] before:flex before:h-[18px] before:w-[18px]  before:flex-col
    before:items-center before:justify-center before:rounded before:bg-slate-100 checked:before:bg-slate-900 checked:before:leading-[10px] 
    checked:before:ring-2 checked:before:ring-black-500
    checked:before:ring-offset-2 checked:before:content-[url("https://api.iconify.design/heroicons-outline/check.svg?color=white")]
    dark:before:bg-slate-500 checked:before:dark:ring-slate-700 
    checked:before:dark:ring-offset-0;
}
